$amber100: #FEF3C7;
$amber500: #F59E0B;

$dark-blue300: #3d4752;

$gray50: #FAFAFA;
$gray900: #18181B;

$green50: #F0FDF4;

$lime100: #ECFCCB;

$orange200: #FED7AA;
$orange300: #FDBA74;
$orange400: #FB923C;

$red50: #FEF2F2;
$red100: #FEE2E2;
$red200: #FECACA;
$red300: #FCA5A5;
$red400: #F87171;
$red500: #ce6b6b;
$red700: #B91C1C;
$red900: #7F1D1D;
$red1000: #360404;

$rose50: #FFF1F2;
$rose200: #FECDD3;
$rose300: #FDA4AF;
$rose400: #FB7185;
$rose500: #F43F5E;
$rose700: #991B1B;

$body: #f8dcdc;
$da: rgba(247,77,77,1);

